name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: '0 10 * * 1' # run "At 10:00 on Monday"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        go: [ '1.20.x', '1.21.x', '1.22.x' ]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
        check-latest: true

    - name: Go Env
      run: |
        go env

    - name: Go Mod
      run: |
        go mod download

    - name: Go Mod Verify
      run: |
        go mod verify

    - name: Test
      run: |
        go test -v -race -shuffle=on -cover ./...

    - name: Autobahn
      if: >-
        startsWith(matrix.os, 'ubuntu')
      env:
        CRYPTOGRAPHY_ALLOW_OPENSSL_102: yes
      run: |
        make test autobahn

    - name: Autobahn Report Artifact
      if: >-
        startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v4
      with:
        name: autobahn report ${{ matrix.go }} ${{ matrix.os }}
        path: autobahn/report
        retention-days: 7
